body {
  font-family: "Noto Sans 3", "Noto Sans SC", sans-serif;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans 3", "Noto Sans SC", sans-serif;
  font-weight: 700;
}

pre code {
  white-space: pre-wrap;
  word-break: break-word;
}
